body {
    color: #FFFFFF ;
    background-color: #212121;
    font-size: large;
}

a {
    color:#FFFFFF;
    text-decoration: None;
}

.branding {
    text-align: center;
}

.header-links {
    text-align: right;
}