body {
    color: #FFFFFF ;
    background-color: #212121;
    font-size: large;
    text-align: center;
}

a {
    color:#FFFFFF;
    text-decoration: None;
}

.branding {
    text-align: center;
}

.header-links {
    text-align: right;
}


.product {
    width: 100%;
    max-width: 300px;
    display: inline-block;
}

.product-img {
    width: 90%;
}