body {
    color:#FFFFFF;
    background-color: #212121;
    font-size: large;
    font-family: 'Oswald';
}

input {

    color: #000000;

}

a {
    color:crimson   ;
    text-decoration: none;
}

.login form {

    display: flex;
    justify-content: center;
    align-items: center;




}

