body {
    color:#FFFFFF;
    background-color: #212121;
    font-size: large;
    font-family: 'Oswald';

}

.register {

    color: crimson;
    text-decoration: none;
}

.userform-box {
    text-align: center;
    padding-top: 50px;

}

.form-box{
    text-align: center;
    padding-top: 50px;
}

.usersignup-form {
    margin: 10px;
    border-radius: 10px;
    padding:10px;
    background-color:#121212;
    display:inline-block;
    text-align: right;
}


.login-form {
    margin: 10px;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    background-color: #121212;
}

input {

    color: #000000;

}
a {
    color:white   ;
    text-decoration: none;
}



