body {
    color:#FFFFFF;
    background-color: #212121;
    font-size: large;
    font-family: 'Oswald';

}


.form-box {
    padding-top: 150px;
    text-align: center;
}

input {

    color: #000000;

}
a {
    color:crimson   ;
    text-decoration: none;
}



